@charset "UTF-8";
/* SCSS HEX */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

main {
  height: 6000px;
  background-color: #273154;
  background: linear-gradient(90deg, hsl(236, 100%, 8%) 0%, hsl(211, 100%, 28%) 100%);
  overflow: hidden;
  width: 100vw;
}
main:after {
  animation: noise2 1s infinite;
  background-image: url("/static/thepage/img/noise2.png");
  background-position: 50%;
  content: "";
  height: calc(6000px + 5rem);
  left: -10rem;
  position: absolute;
  top: -10rem;
  width: calc(100vw + 20rem);
  will-change: transform;
}

.hiden {
  display: none;
}

a {
  text-decoration: none;
  color: #E6DBBF;
  z-index: 3000;
}

p {
  color: #E6DBBF;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 1px;
}

h1 {
  color: #E6DBBF;
}

h2 {
  color: #E6DBBF;
  font-family: "Lora", serif;
  font-size: 22px;
}

h3 {
  color: #4cc9f0;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.5px;
  font-weight: 400;
  line-height: 150%;
}

h5 {
  color: #E6DBBF;
}

.quote {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30vh;
  background-color: rgb(3, 48, 96);
}
.quote img {
  width: 200px;
  height: 200px;
  transform: translateY(-100px);
}
.quote h3 {
  font-size: 16px;
  width: 60ch;
  transform: translateX(-5vw);
}

.header {
  color: #E6DBBF;
  font-family: "Montserrat", sans-serif;
  width: 80%;
  letter-spacing: 2px;
  font-size: clamp(1.8rem, 2.2vw, 2.2rem);
  margin-left: 15vw;
}

@keyframes noise2 {
  0% {
    transform: translate3d(0, 9rem, 0);
  }
  10% {
    transform: translate3d(-1rem, -4rem, 0);
  }
  20% {
    transform: translate3d(-8rem, 2rem, 0);
  }
  30% {
    transform: translate3d(9rem, -9rem, 0);
  }
  40% {
    transform: translate3d(-2rem, 7rem, 0);
  }
  50% {
    transform: translate3d(-9rem, -4rem, 0);
  }
  60% {
    transform: translate3d(2rem, 6rem, 0);
  }
  70% {
    transform: translate3d(7rem, -8rem, 0);
  }
  80% {
    transform: translate3d(-9rem, 1rem, 0);
  }
  90% {
    transform: translate3d(6rem, -5rem, 0);
  }
  to {
    transform: translate3d(-7rem, 0, 0);
  }
}
@keyframes grain {
  0%, 100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
.footer {
  height: 10vh;
  background-color: #ff006e;
}

nav {
  position: fixed;
  top: 0;
  margin-left: 5vw;
  margin-top: 3vh;
  width: 80vw;
  z-index: 200;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: top 0.6s;
  z-index: 2000;
}

.logo img {
  width: 150px;
}

.rmenu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.rmenu .hvr {
  position: relative;
}
.rmenu .hvr::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  top: 20px;
  height: 2px;
  background-color: #ff006e;
  transition: width 0.3s ease-in-out;
}
.rmenu .hvr:hover::after {
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 15vw;
  width: 100%;
}
.menu a {
  text-decoration: none;
  font-family: "Lora", serif;
  color: #E6DBBF;
  letter-spacing: 0.5px;
  font-size: 15px;
}

.cta a {
  text-decoration: none;
  font-family: "Lora", serif;
  color: #273154;
  font-size: 15px;
  background-color: #c2ff05;
  font-weight: bold;
  padding: 0.8vw 1.5vw;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.cta a:hover {
  box-shadow: rgba(255, 255, 255, 0.1) 10px 10px 20px, rgba(194, 255, 5, 0.4) 3px 6px 6px;
}

.text-link {
  background-color: #c2ff05;
  position: relative;
  display: inline-block;
  font-size: 15px;
  text-decoration: none;
  color: #E6DBBF;
  padding: 0.8vw 1.5vw;
  z-index: 1;
}
.text-link:before, .text-link:after {
  content: attr(data-content);
  position: absolute;
  padding: 0.8vw 1.5vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.text-link:before {
  color: #00ffff;
  z-index: -1;
}
.text-link:after {
  color: #ff00ff;
  z-index: -2;
}
.text-link:hover:before {
  animation: glitchy 0.3s ease 0.3s infinite;
}
.text-link:hover:after {
  animation: glitchy 0.3s ease infinite reverse;
}

@keyframes glitchy {
  0% {
    transform: translate(-2px, 2px);
  }
  25% {
    transform: translate(-2px, -2px);
  }
  50% {
    transform: translate(2px, 2px);
  }
  75% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(-2px, 2px);
  }
}
.burger {
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 5vw;
  width: 50px;
  border: none;
  cursor: pointer;
  display: none;
  padding: 0;
  z-index: 100;
}

.line {
  fill: none;
  stroke: #E6DBBF;
  stroke-width: 4;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.burger-menu {
  display: none;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(56, 63, 81, 0.4);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.burger-menu .sub-decor {
  background-color: #ff006e;
  mix-blend-mode: screen;
  position: absolute;
  width: 60vw;
  height: 80vh;
  padding: 10vh 10vw;
  top: 0;
  right: 0;
  opacity: 0;
  animation: sub-decor 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.burger-menu .burger-sub-menu {
  background: #24243e;
  background: rgb(3, 48, 96);
  width: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.burger-menu .burger-sub-menu a {
  opacity: 0;
  color: #ff006e;
  font-family: "Lora", serif;
  font-size: 25px;
  font-weight: 400;
}
.burger-menu .burger-sub-menu .cta {
  margin-top: 5vh;
}
.burger-menu .burger-sub-menu .cta a {
  padding: 20px;
  color: #E6DBBF;
  background-color: #ff006e;
  font-size: 20px;
}
.burger-menu .sub-burger-active {
  width: 60vw;
  height: 80vh;
  padding: 10vh 10vw;
}
.burger-menu .sub-decor-active {
  width: 60vw;
  height: 100vh;
  filter: screen();
}

.burger-active {
  display: flex;
}

@keyframes navlinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes sub-decor {
  0% {
    transform: translateX(100%);
    opacity: 6;
  }
  99% {
    opacity: 0.6;
  }
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}
@keyframes subburger {
  from {
    transform: translateX(100%);
    border-left: 50px solid #ff006e;
  }
  to {
    transform: translateX(0);
    border-left: 0;
  }
}
@keyframes subburger-reverse {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@media screen and (max-width: 800px) {
  .burger {
    display: flex;
  }
  .rmenu {
    display: none;
  }
  nav {
    width: 90vw;
  }
}
main {
  height: 100vh;
  overflow: hidden;
}
main:after {
  animation: noise2 1s infinite;
  background-image: url("/static/thepage/img/noise2.png");
  background-position: 50%;
  content: "";
  height: 100vh;
  left: -10rem;
  position: absolute;
  top: -10rem;
  width: 100vw;
  will-change: transform;
}

.topdecor {
  display: flex;
  flex-direction: column;
  z-index: 150;
}

.topdecor .frame:nth-child(5n) {
  margin-top: 20px;
}

.botdecor {
  z-index: 150;
}
.botdecor .frame:nth-child(3n) {
  margin-top: 30px;
}

.frame {
  display: flex;
  margin-bottom: 11px;
  height: 14px;
  -moz-column-gap: 14px;
       column-gap: 14px;
  opacity: 1;
  /* TOP */
  /* Primera Línea  */
  /* Segunda Línea  */
  /* Tercera Línea  */
  /* Cuarta Línea  */
  /* Quinta Línea  */
  /* BOTTOM */
  /* Primera Línea  */
  /* Segunda Línea  */
  /* Tercera Línea  */
  /* Cuarta Línea  */
  /* Quinta Línea  */
}
.frame #top1-1 {
  width: 140px;
  animation: move 0.5s cubic-bezier(0.42, 0, 0.58, 1);
}
.frame #top1-2 {
  width: 84px;
  animation: move 0.8s cubic-bezier(0.42, 0, 0.58, 1);
  animation-delay: 0.4;
}
.frame #top1-3 {
  width: 14px;
  border-radius: 14px;
  animation: move 0.8s cubic-bezier(0.42, 0, 0.58, 1);
  animation-delay: 0.8;
}
.frame #top2-1 {
  width: 224px;
  animation: move 0.8s cubic-bezier(0.42, 0, 0.58, 1);
}
.frame #top3-1 {
  width: 84px;
  animation: move 0.8s cubic-bezier(0.42, 0, 0.58, 1);
}
.frame #top3-2 {
  width: 14px;
  animation: move 0.8s cubic-bezier(0.42, 0, 0.58, 1);
  animation-delay: 0.4;
}
.frame #top3-3 {
  width: 56px;
  animation: move 0.8s cubic-bezier(0.42, 0, 0.58, 1);
  animation-delay: 0.8;
}
.frame #top3-4 {
  width: 140px;
  animation: move 0.8s cubic-bezier(0.42, 0, 0.58, 1);
  animation-delay: 0.12;
}
.frame #top4-1 {
  width: 140px;
  animation: move 1s cubic-bezier(0.42, 0, 0.58, 1);
}
.frame #top4-2 {
  width: 84px;
  animation: move 1s cubic-bezier(0.42, 0, 0.58, 1);
  animation-delay: 0.4;
}
.frame #top4-3 {
  width: 14px;
  border-radius: 14px;
  animation: move 1s cubic-bezier(0.42, 0, 0.58, 1);
  animation-delay: 0.8;
}
.frame #top4-4 {
  width: 224px;
  animation: move 1s cubic-bezier(0.42, 0, 0.58, 1);
  animation-delay: 0.12;
}
.frame #top5-1 {
  width: 56px;
  animation: move 1s cubic-bezier(0.42, 0, 0.58, 1);
}
.frame #top5-2 {
  width: 14px;
  animation: move 1s cubic-bezier(0.42, 0, 0.58, 1);
  animation-delay: 0.4;
}
.frame #top5-3 {
  width: 56px;
  animation: move 1s cubic-bezier(0.42, 0, 0.58, 1);
  animation-delay: 0.8;
}
.frame #top5-4 {
  width: 84px;
  animation: move 1s cubic-bezier(0.42, 0, 0.58, 1);
  animation-delay: 0.12;
}
.frame #bot1-1 {
  width: 140px;
  animation: move 0.8s cubic-bezier(0.42, 0, 0.58, 1);
}
.frame #bot1-2 {
  width: 14px;
  border-radius: 14px;
  animation: move 0.8s cubic-bezier(0.42, 0, 0.58, 1);
  animation-delay: 0.4;
}
.frame #bot2-1 {
  width: 114px;
  animation: move 1s cubic-bezier(0.42, 0, 0.58, 1);
}
.frame #bot2-2 {
  width: 56px;
  animation: move 1s cubic-bezier(0.42, 0, 0.58, 1);
  animation-delay: 0.4;
}
.frame #bot2-3 {
  width: 252px;
  animation: move 1s cubic-bezier(0.42, 0, 0.58, 1);
  animation-delay: 0.8;
}
.frame #bot3-1 {
  width: 140px;
  animation: move 1.2s cubic-bezier(0.42, 0, 0.58, 1);
}
.frame #bot3-2 {
  width: 56px;
  animation: move 1.2s cubic-bezier(0.42, 0, 0.58, 1);
  animation-delay: 0.4;
}
.frame #bot4-1 {
  width: 224px;
  animation: move 1.2s cubic-bezier(0.42, 0, 0.58, 1);
}
.frame #bot5-1 {
  width: 84px;
  animation: move 1.4s cubic-bezier(0.42, 0, 0.58, 1);
}
.frame #bot5-2 {
  width: 14px;
  animation: move 1.4s cubic-bezier(0.42, 0, 0.58, 1);
  animation-delay: 0.4;
}
.frame #bot5-3 {
  width: 56px;
  animation: move 1.4s cubic-bezier(0.42, 0, 0.58, 1);
  animation-delay: 0.8;
}
.frame #bot5-4 {
  width: 84px;
  animation: move 1.4s cubic-bezier(0.42, 0, 0.58, 1);
  animation-delay: 0.12;
}

@keyframes move {
  from {
    opacity: 0;
    margin-left: 50vw;
  }
}
.landing {
  position: relative;
  margin-inline: auto;
  z-index: 100;
}
.landing .decor {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(5, 60, 118, 0.8), rgba(3, 48, 96, 0.8)), url("/static/thepage/img/contact.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.landing .decor:after {
  animation: noise2 1s infinite;
  background-image: url("/static/thepage/img/noise2.png");
  background-position: 50%;
  content: "";
  height: calc(110vh + 10rem);
  left: -10rem;
  position: absolute;
  top: -10rem;
  width: calc(110vw + 10rem);
  will-change: transform;
}
.landing .data {
  display: flex;
  justify-content: center;
  width: 90vw;
  margin-inline: auto;
}
.landing .hero {
  z-index: 150;
  padding: 10px;
  margin-top: 45vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
}
.landing .hero h1 {
  margin-bottom: 3vh;
  margin-top: 3vh;
  font-family: "Lora", serif;
  letter-spacing: 3px;
  font-size: clamp(1rem, 2.3vw + 0.2rem, 2.5rem);
  color: #E6DBBF;
}
.landing .hero p {
  margin-top: 0;
  width: 40vw;
}

form {
  position: relative;
  z-index: 100;
  padding-top: 15vh;
}
form button {
  width: 10vw;
  text-align: center;
  text-justify: center;
  height: 5vh;
  margin-top: 2vh;
  background-color: #ff006e;
  font-family: "Lora", serif;
  color: #E6DBBF;
  cursor: pointer;
}
form label {
  width: 40vw;
  display: flex;
  padding: 10px 0 8px 0;
  font-size: 18px;
  margin-top: 10px;
}
form input {
  background-color: transparent;
  box-shadow: none;
  border: none;
  border-bottom: 0.5px solid #E6DBBF;
  width: 30vw;
  padding: 5px 5px 1px;
  color: #E6DBBF;
  height: 4vh;
  font-size: 18px;
  color: #c2ff05;
  letter-spacing: 1.5px;
}
form textarea {
  color: #E6DBBF;
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
  width: 30vw;
  height: 20vh;
  margin-top: 10px;
  padding: 10px 5px 8px;
  font-size: 18px;
  color: #c2ff05;
  letter-spacing: 1.5px;
}/*# sourceMappingURL=contact.css.map */