@import 'general';
@import 'nav';

main{
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  &:after {
    animation: noise2 1s infinite;
    background-image: $noise;
    background-position: 50%;
    content: "";
    height: calc(100vh + 5rem);
    left: -10rem;
    position: absolute;
    top: -10rem;
    width: calc(100vw + 5rem);
    will-change: transform;
  }
}

.topdecor{
    display: flex;
    flex-direction: column;
    z-index: 150;
  }

  .topdecor{
    & .frame {
      &:nth-child(5n){
        margin-top: 20px;
        //margin-left: 10vw;
      }
    }
  }
  .botdecor{
    z-index: 150;
    & .frame {
      &:nth-child(3n){
        margin-top: 30px;
      }
    }
  }
  
  .frame{
    display: flex;
    margin-bottom: 11px;
    height: 14px;
    column-gap: 14px;
    opacity: 1;
    /* TOP */
    /* Primera Línea  */
    & #top1-1{
      width: 140px;
      animation: move 0.5s cubic-bezier(.42, -0, .58, 1);
    }
    & #top1-2{
      width: 84px;
      animation: move 0.8s cubic-bezier(.42, -0, .58, 1);
      animation-delay: 0.4;
  
    }
    & #top1-3{
      width: 14px;
      border-radius: 14px;
      animation: move 0.8s cubic-bezier(.42, -0, .58, 1);
      animation-delay: 0.8;
    }
      /* Segunda Línea  */
      & #top2-1{
        width: 224px;
        animation: move 0.8s cubic-bezier(.42, -0, .58, 1);
      }
      /* Tercera Línea  */
      & #top3-1{
        width: 84px;
        animation: move 0.8s cubic-bezier(.42, -0, .58, 1);
      }
      & #top3-2{
        width: 14px;
        animation: move 0.8s cubic-bezier(.42, -0, .58, 1);
        animation-delay: 0.4;
      }
      & #top3-3{
        width: 56px;
        animation: move 0.8s cubic-bezier(.42, -0, .58, 1);
        animation-delay: 0.8;
      }
      & #top3-4{
        width: 140px;
        animation: move 0.8s cubic-bezier(.42, -0, .58, 1);
        animation-delay: 0.12;
      }
    /* Cuarta Línea  */
      & #top4-1{
        width: 140px;
        animation: move 1s cubic-bezier(.42, -0, .58, 1);
      }
      & #top4-2{
        width: 84px;
        animation: move 1s cubic-bezier(.42, -0, .58, 1);
        animation-delay: 0.4;
      }
      & #top4-3{
        width: 14px;
        border-radius: 14px;
        animation: move 1s cubic-bezier(.42, -0, .58, 1);
        animation-delay: 0.8;
      }
      & #top4-4{
        width: 224px;
        animation: move 1s cubic-bezier(.42, -0, .58, 1);
        animation-delay: 0.12;
      }
      /* Quinta Línea  */
      & #top5-1{
        width: 56px;
        animation: move 1s cubic-bezier(.42, -0, .58, 1);
      }
      & #top5-2{
        width: 14px;
        animation: move 1s cubic-bezier(.42, -0, .58, 1);
        animation-delay: 0.4;
      }
      & #top5-3{
        width: 56px;
        animation: move 1s cubic-bezier(.42, -0, .58, 1);
        animation-delay: 0.8;
      }
      & #top5-4{
        width: 84px;
        animation: move 1s cubic-bezier(.42, -0, .58, 1);
        animation-delay: 0.12;
      }
    /* BOTTOM */
    /* Primera Línea  */
    & #bot1-1{
      width: 140px;
      animation: move 0.8s cubic-bezier(.42, -0, .58, 1);
    }
    & #bot1-2{
      width: 14px;
      border-radius: 14px;
      animation: move 0.8s cubic-bezier(.42, -0, .58, 1);
      animation-delay: 0.4;
    }
    /* Segunda Línea  */
    & #bot2-1{
      width: 114px;
      animation: move 1s cubic-bezier(.42, -0, .58, 1);
      
    }
    & #bot2-2{
      width: 56px;
      animation: move 1s cubic-bezier(.42, -0, .58, 1);
      animation-delay: 0.4;
    }
    & #bot2-3{
      width: 252px;
      animation: move 1s cubic-bezier(.42, -0, .58, 1);
      animation-delay: 0.8;
    }
    /* Tercera Línea  */
    & #bot5-1{
      width: 140px;
      animation: move 1.2s cubic-bezier(.42, -0, .58, 1);
    }
    & #bot5-2{
      width: 56px;
      animation: move 1.2s cubic-bezier(.42, -0, .58, 1);
      animation-delay: 0.4;
    }
    /* Cuarta Línea  */
      & #bot4-1{
        width: 224px;
        animation: move 1.2s cubic-bezier(.42, -0, .58, 1);
      }
      /* Quinta Línea  */
      & #bot3-1{
        width: 84px;
        animation: move 1.4s cubic-bezier(.42, -0, .58, 1);
      }
      & #bot3-2{
        width: 14px;
        animation: move 1.4s cubic-bezier(.42, -0, .58, 1);
        animation-delay: 0.4;
      }
      & #bot3-3{
        width: 56px;
        animation: move 1.4s cubic-bezier(.42, -0, .58, 1);
        animation-delay: 0.8;
      }
      & #bot3-4{
        width: 84px;
        animation: move 1.4s cubic-bezier(.42, -0, .58, 1);
        animation-delay: 0.12;
      }
  }
  
  
  @keyframes move{
    from {
      opacity: 0;
      margin-left: 50vw
    };
  }
  

.landing{
    position: relative;
    margin-inline: auto;
    z-index: 100;
    display: flex;
}
  .hero{
    z-index: 150;
    padding: 10px;
    margin-top: 40vh;
    margin-left: 5vw;
    width: 40vw;
    display: flex;
    flex-direction: column;
    & h1{
        margin-bottom: 3vh;
        margin-top: 3vh;
        font-family: $serif-font;
        letter-spacing: 3px;
        font-size: clamp(1rem, 2.3vw + 0.2rem, 2.5rem);
        color: $fontcolornight;     
    }
    & p{
        margin-top: 0;
        width: 35vw;
    }
}

.workindex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50vw;
    gap: 1vh;
    margin-top: 15vh;
    right: 3vw;
    position: absolute;
    height: 80vh;
    & > a{
        flex: 1;
    }
    & .work{
        position: relative;
        display: grid;
        place-content: center;
        background-color: $topic;
        transition: flex-grow 0.8s cubic-bezier(0.4, 0, 0.2, 1), background-color 1s cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;
        & img{
            position: absolute;
            object-fit: cover;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            mix-blend-mode: screen;
        }
        & h3{
            z-index: 150;
            color: $focuscolor;
            font-size: $fz-xxl;
            letter-spacing: 3px;
            width: 30vw;
            text-align: center;
            background-color: $topicHover;
            padding: 0;
            font-weight: 600;
            padding: 10px 0;
        }
        &:hover{
            background-color: $focuscolor;
            flex-grow: 2; 
        }
    }
}

