/* SCSS HEX */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

main {
  height: 6000px;
  background-color: #273154;
  background: linear-gradient(90deg, hsl(236, 100%, 8%) 0%, hsl(211, 100%, 28%) 100%);
  overflow: hidden;
  width: 100vw;
}
main:after {
  animation: noise2 1s infinite;
  background-image: url("/static/thepage/img/noise2.png");
  background-position: 50%;
  content: "";
  height: calc(6000px + 5rem);
  left: -10rem;
  position: absolute;
  top: -10rem;
  width: calc(100vw + 20rem);
  will-change: transform;
}

.hiden {
  display: none;
}

a {
  text-decoration: none;
  color: #E6DBBF;
  z-index: 3000;
}

p {
  color: #E6DBBF;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 1px;
}

h1 {
  color: #E6DBBF;
}

h2 {
  color: #E6DBBF;
  font-family: "Lora", serif;
  font-size: 22px;
}

h3 {
  color: #4cc9f0;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.5px;
  font-weight: 400;
  line-height: 150%;
}

h5 {
  color: #E6DBBF;
}

.quote {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30vh;
  background-color: rgb(3, 48, 96);
}
.quote img {
  width: 200px;
  height: 200px;
  transform: translateY(-100px);
}
.quote h3 {
  font-size: 16px;
  width: 60ch;
  transform: translateX(-5vw);
}

.header {
  color: #E6DBBF;
  font-family: "Montserrat", sans-serif;
  width: 80%;
  letter-spacing: 2px;
  font-size: clamp(1.8rem, 2.2vw, 2.2rem);
  margin-left: 15vw;
}

@keyframes noise2 {
  0% {
    transform: translate3d(0, 9rem, 0);
  }
  10% {
    transform: translate3d(-1rem, -4rem, 0);
  }
  20% {
    transform: translate3d(-8rem, 2rem, 0);
  }
  30% {
    transform: translate3d(9rem, -9rem, 0);
  }
  40% {
    transform: translate3d(-2rem, 7rem, 0);
  }
  50% {
    transform: translate3d(-9rem, -4rem, 0);
  }
  60% {
    transform: translate3d(2rem, 6rem, 0);
  }
  70% {
    transform: translate3d(7rem, -8rem, 0);
  }
  80% {
    transform: translate3d(-9rem, 1rem, 0);
  }
  90% {
    transform: translate3d(6rem, -5rem, 0);
  }
  to {
    transform: translate3d(-7rem, 0, 0);
  }
}
@keyframes grain {
  0%, 100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
.footer {
  height: 10vh;
  background-color: #ff006e;
}

nav {
  position: fixed;
  top: 0;
  margin-left: 5vw;
  margin-top: 3vh;
  width: 80vw;
  z-index: 200;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: top 0.6s;
  z-index: 2000;
}

.logo img {
  width: 150px;
}

.rmenu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.rmenu .hvr {
  position: relative;
}
.rmenu .hvr::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  top: 20px;
  height: 2px;
  background-color: #ff006e;
  transition: width 0.3s ease-in-out;
}
.rmenu .hvr:hover::after {
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 15vw;
  width: 100%;
}
.menu a {
  text-decoration: none;
  font-family: "Lora", serif;
  color: #E6DBBF;
  letter-spacing: 0.5px;
  font-size: 15px;
}

.cta a {
  text-decoration: none;
  font-family: "Lora", serif;
  color: #273154;
  font-size: 15px;
  background-color: #c2ff05;
  font-weight: bold;
  padding: 0.8vw 1.5vw;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.cta a:hover {
  box-shadow: rgba(255, 255, 255, 0.1) 10px 10px 20px, rgba(194, 255, 5, 0.4) 3px 6px 6px;
}

.text-link {
  background-color: #c2ff05;
  position: relative;
  display: inline-block;
  font-size: 15px;
  text-decoration: none;
  color: #E6DBBF;
  padding: 0.8vw 1.5vw;
  z-index: 1;
}
.text-link:before, .text-link:after {
  content: attr(data-content);
  position: absolute;
  padding: 0.8vw 1.5vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.text-link:before {
  color: #00ffff;
  z-index: -1;
}
.text-link:after {
  color: #ff00ff;
  z-index: -2;
}
.text-link:hover:before {
  animation: glitchy 0.3s ease 0.3s infinite;
}
.text-link:hover:after {
  animation: glitchy 0.3s ease infinite reverse;
}

@keyframes glitchy {
  0% {
    transform: translate(-2px, 2px);
  }
  25% {
    transform: translate(-2px, -2px);
  }
  50% {
    transform: translate(2px, 2px);
  }
  75% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(-2px, 2px);
  }
}
.burger {
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 5vw;
  width: 50px;
  border: none;
  cursor: pointer;
  display: none;
  padding: 0;
  z-index: 100;
}

.line {
  fill: none;
  stroke: #E6DBBF;
  stroke-width: 4;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.burger-menu {
  display: none;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(56, 63, 81, 0.4);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.burger-menu .sub-decor {
  background-color: #ff006e;
  mix-blend-mode: screen;
  position: absolute;
  width: 60vw;
  height: 80vh;
  padding: 10vh 10vw;
  top: 0;
  right: 0;
  opacity: 0;
  animation: sub-decor 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.burger-menu .burger-sub-menu {
  background: #24243e;
  background: rgb(3, 48, 96);
  width: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.burger-menu .burger-sub-menu a {
  opacity: 0;
  color: #ff006e;
  font-family: "Lora", serif;
  font-size: 25px;
  font-weight: 400;
}
.burger-menu .burger-sub-menu .cta {
  margin-top: 5vh;
}
.burger-menu .burger-sub-menu .cta a {
  padding: 20px;
  color: #E6DBBF;
  background-color: #ff006e;
  font-size: 20px;
}
.burger-menu .sub-burger-active {
  width: 60vw;
  height: 80vh;
  padding: 10vh 10vw;
}
.burger-menu .sub-decor-active {
  width: 60vw;
  height: 100vh;
  filter: screen();
}

.burger-active {
  display: flex;
}

@keyframes navlinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes sub-decor {
  0% {
    transform: translateX(100%);
    opacity: 6;
  }
  99% {
    opacity: 0.6;
  }
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}
@keyframes subburger {
  from {
    transform: translateX(100%);
    border-left: 50px solid #ff006e;
  }
  to {
    transform: translateX(0);
    border-left: 0;
  }
}
@keyframes subburger-reverse {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@media screen and (max-width: 800px) {
  .burger {
    display: flex;
  }
  .rmenu {
    display: none;
  }
  nav {
    width: 90vw;
  }
}
main {
  height: auto;
  overflow-y: hidden;
}

.dwork {
  margin-top: 30vh;
  width: 80vw;
  margin-inline: auto;
  display: flex;
  row-gap: 3vh;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.dwork .item {
  padding: 5vh 5vw;
}

.heading {
  display: grid;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.heading .vision {
  flex-direction: column;
  line-height: 110%;
  width: 60vw;
  margin-inline: auto;
}
.heading .vision h3 {
  font-size: 18px;
}
.heading .vision img {
  width: 200px;
  height: 200px;
  transform: translateY(10%);
}

.tec {
  display: flex;
  -moz-column-gap: 5vw;
       column-gap: 5vw;
}

.content {
  position: relative;
}

.tagcloud {
  font-family: "Lora", serif;
  color: #4cc9f0;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.5px;
  transition: all 0.5s ease;
}

.tagcloud--item {
  transition: all 0.5 ease;
}
.tagcloud--item:hover {
  color: #c2ff05;
  font-size: 16px;
}

.nombre {
  display: grid;
  place-content: center;
}
.nombre h2 {
  color: #ff006e;
  font-size: clamp(4rem, 4vw, 8rem);
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
}

.item:nth-child(even) {
  margin-left: auto;
}

.item .det {
  position: relative;
  width: 600px;
  margin-top: 10vh;
}
.item .det img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.detalle-d {
  display: flex;
  gap: 5vw;
}

.detalle-r {
  display: flex;
  flex-direction: row-reverse;
  gap: 5vw;
}

.extend-d, .extend-r {
  width: 30vw;
  background-color: rgb(3, 48, 96);
  margin: 10vh 0;
  padding: 2% 5%;
  display: grid;
  place-content: center;
}

.extend-d {
  transform: translateY(-20%);
  border-left: 3px solid #ff006e;
}

.extend-r {
  transform: translateY(-20%);
  border-right: 3px solid #c2ff05;
}

.head {
  padding: 0;
  display: flex;
  flex-direction: column;
  color: #E6DBBF;
}
.head .link {
  grid-area: link;
  display: flex;
  align-items: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.head .link a {
  position: relative;
  color: #c2ff05;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 1.5px;
}
.head .link a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  margin-top: 3px;
  height: 1px;
  background-color: #c2ff05;
  transition: width 0.3s ease-in-out;
}
.head .link a:hover::after {
  width: 100%;
}
.head .desc h5 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.5px;
  font-weight: 400;
}

@media (max-width: 600px) {
  .dwork {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}/*# sourceMappingURL=profile.css.map */